# Basic Data types

In [ ]:
#jump characters in string by specifying step, here step is 2 (default is 1)
x = 'abcdefgh'
x[::2]

'aceg'

In [ ]:
print(0.1 + 0.2 - 0.3)
#this has to do with floating point accuracy and computer's abilities to represent
#numbers in memory. CHECK - https://docs.python.org/2/tutorial/floatingpoint.html

5.551115123125783e-17

In [ ]:
#formatted string
print('The {}'.format('fox'))
print('The {} {} {}'.format('fox','brown','quick'))
print('The {1} {2} {0}'.format('fox','brown','quick')) #using index position
print('The {q} {b} {f}'.format(f='fox',b='brown',q='quick'))
f='fox';b='brown';q='quick'
print(f'The {f} {q} {b}') #known as f strings

The fox
The fox brown quick
The brown quick fox
The quick brown fox
The fox quick brown

In [ ]:
#float fomratting

# {value:width.precision f}
x = 100/77

print(f'value is {x:1.9f}') #can be used as an alternative of round()

value is 1.298701299

In [ ]:
num_list = [1,2,3,4,5,6,7]
print(num_list.pop()) #returns last elements and also deletes it from the list
print(num_list)

7
[1, 2, 3, 4, 5, 6]

In [ ]:
print(num_list.pop(0)) #position to delete
num_list

1

[2, 3, 4, 5, 6]

In [ ]:
my_list = ['a','e','b','x','c']
print(my_list.sort()) #doesn't return anything as it sorts IN-PLACE
print(my_list)

#incorrect way of assignment
my_list = ['a','e','b','x','c']
my_sorted_list = my_list.sort()
print(my_sorted_list)

#but sort() makes changes to the list and that list can be stored or assigned or used
my_list = ['a','e','b','x','c']
my_list.sort()
my_sorted_list = my_list
print(my_sorted_list)

None
['a', 'b', 'c', 'e', 'x']
None
['a', 'b', 'c', 'e', 'x']

In [ ]:
my_list = ['a','e','b','x','c']
my_list.reverse()
print(my_list)

my_num_list = [1,4414235,4651353,43,3535,25,46,4365,6]
my_num_list.sort()
print(my_num_list)

my_num_list = [1,4414235,4651353,43,3535,25,46,4365,6]
print(my_num_list.reverse()) #reverse is jus tlike sort, INPLACE reversal
print(my_num_list)

['c', 'x', 'b', 'e', 'a']
[1, 6, 25, 43, 46, 3535, 4365, 4414235, 4651353]
None
[6, 4365, 46, 25, 3535, 43, 4651353, 4414235, 1]

In [ ]:
#tuple has lesser felxibility than lists since it is immutableand also lesser functionality
# still it is useful for scenarios where we won't want values to be altered by mistake

t = ('a','a','b')
print(t.count('a'))
print(t.index('a'))#returns first index
print(t.index('b'))

2
0
2

In [ ]:
# magic function to create new file with content

%%writefile my_new_file.txt
ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

Overwriting my_new_file.txt

In [ ]:
import os;os.listdir()

['.config', 'my_new_file.txt', 'sample_data']

In [ ]:
#tuple unpacking

mylist = [(1,2), (3,4), (5,6), (7,8)]
for (a, b) in mylist:
  print(a)
  print(b)

#works  same without brackets as well
mylist = [(1,2), (3,4), (5,6), (7,8)]
for a,b in mylist:
  print(a)
  print(b)

1
2
3
4
5
6
7
8

In [ ]:
lst1 = [1, 2, 3, 4, 5, 6, 7] #takes elements based on smallest list which is passed to zip function. so takes 3 in lst1 as per lst2
lst2 = ['a', 'b', 'c']
for item in zip(lst1, lst2):
  print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [ ]:
['EVEN' if x%2==0 else 'ODD' for x in lst1]

['ODD', 'EVEN', 'ODD', 'EVEN', 'ODD', 'EVEN', 'ODD']

In [ ]:
[x*y for x in [2,4,6] for y in [1,10,1000]]

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [ ]:
def myfunc(*args):
  print(args)
  return sum(args)

myfunc(1,2,3,4,5,6)

(1, 2, 3, 4, 5, 6)

21

In [ ]:
def myfunc(**kwargs):
  print(kwargs)
  if 'fruit' in kwargs:
    print(f"my fruit choice is {kwargs['fruit']}")
  else:
    print('i did not find my fruit here')

myfunc(fruit='apple', veggie = 'potato')

{'fruit': 'apple', 'veggie': 'potato'}
my fruit choice is apple

In [ ]:
string = 'all lower'
string.capitalize()

'All lower'

In [ ]:
# comparison of current and next element
# check if 3 comes with 3 in a list
def has_33(nums):
  for i in range(len(nums)-1):
    if nums[i:i+2] == [3,3]:
      return True
  return False

has_33([1,3,1,3,3])

True

In [ ]:
nums = [1,2,3,4,5]
def square_it(num):
  return num**2

list(map(square_it, nums))

[1, 4, 9, 16, 25]

In [ ]:
def check_even(num):
  return num%2==0

nums = [1,2,3,4,5,6]

list(filter(check_even, nums))

[2, 4, 6]

In [ ]:
# lambda same as function
def square(num): return num**2
squaree = lambda x: x**2
print(square(2))
print(squaree(2))

4
4

In [ ]:
print(list(map(lambda x:x**2, nums)))
print(list(filter(lambda x:x%2==0, nums)))

[1, 4, 9, 16, 25, 36]
[2, 4, 6]

In [ ]:
# variable scope are checked in priority defined as LEGB:Local, Enclosed(function within function so parent function), Global and then Built in

# OOPS

In [ ]:
class abc():
  def __init__(self, p1, p2):
    self.p1 = p1
    self.p2 = p2

  def show(self):
    print(self.p1, self.p2)


obj = abc(10,15)
obj.show()

10 15

INHERITANCE

In [ ]:
class Animal():

    def __init__(self):
        print('ANIMAL CREATED')

    def who_am_i(self):
        print('I am an animal')
    def eat(self):
        print('I am eating')

myanimal = Animal()
myanimal.eat()

ANIMAL CREATED
I am eating

In [ ]:
myanimal.who_am_i()

I am an animal

In [ ]:
class Dog(Animal):

    def __init__(self):
        Animal.__init__(self)
        print('Dog Created')

    def eat(self):
        print('I am a dog and eating')

    def bark(self):
        print('WOOF')

mydog = Dog()
mydog.eat()

ANIMAL CREATED
Dog Created
I am a dog and eating

In [ ]:
mydog.who_am_i()

I am an animal

In [ ]:
mydog.bark()

WOOF

POLYMORPHISM

In [2]:
class Animal():

    def __init__(self, name):
        self.name = name

    def speak(self):
      raise NotImplementedError('Subclass must implement this abstract method')

myanimal = Animal('tom')
myanimal.speak()

NotImplementedError: ignored

In [4]:
class Dog(Animal):
    #  no __init__ required
    def speak(self):
      return f"{self.name} says WOOF!"

dg = Dog('tommy')
dg.speak()

'tommy says WOOF!'

SPECIAL (MAGIC/DUNDER) METHODS

In [8]:
class Book():

    def __init__(self, title, author, pages):

        self.title = title
        self.author = author
        self.pages = pages

    def __str__(self):
        return f"{self.title} by {self.author}"

    def __len__(self):
        return self.pages

    def __del__(self):
        print('A book object has been deleted')

b = Book('Python rocks', 'Jose', 200)
print(b, len(b))

Python rocks by Jose 200

In [9]:
del b

A book object has been deleted

In [10]:
b

NameError: ignored